.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

/* Sidebar formating --------------------------------------------*/

.sidebar {
  border: 1px solid #ccc;
  border-left-width: 5px;
  border-radius: 5px;
  padding: 1em;
  margin: 1em 0;
}

.rmdwarning {
  border: 1px solid #EA4335;
  border-left-width: 5px;
  border-radius: 5px;
  padding: 1em;
  margin: 1em 0;
}

.rmdnote {
  border: 1px solid #FBBC05;
  border-left-width: 5px;
  border-radius: 5px;
  padding: 1em;
  margin: 1em 0;
}

.rmdtip {
  border: 1px solid #34A853;
  border-left-width: 5px;
  border-radius: 5px;
  padding: 1em;
  margin: 1em 0;
}
.book .book-body .page-wrapper .page-inner section.normal div.rmdwarning > :first-child,
.book .book-body .page-wrapper .page-inner section.normal div.rmdnote > :first-child,
.book .book-body .page-wrapper .page-inner section.normal div.rmdtip > :first-child,
.book .book-body .page-wrapper .page-inner section.normal div.sidebar > :first-child {
  margin-top: 0;
}

.book .book-body .page-wrapper .page-inner section.normal div.rmdwarning > :last-child,
.book .book-body .page-wrapper .page-inner section.normal div.rmdnote > :last-child,
.book .book-body .page-wrapper .page-inner section.normal div.rmdtip > :last-child,
.book .book-body .page-wrapper .page-inner section.normal div.sidebar > :last-child {
  margin-bottom: 0;
}

div.rmdwarning::before {
  display: block;
  content: "Warning: ";
  color: #EA4335;
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 0.25em;
}

div.rmdnote::before {
  display: block;
  content: "Note: ";
  color: #FBBC05;
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 0.25em;
}

div.rmdtip::before {
  display: block;
  content: "Tip: ";
  color: #34A853;
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 0.25em;
}

.todo {
  display: block;
  border: 1px solid #4285f4;
  border-left-width: 5px;
  border-radius: 5px;
  padding: 0.5em 1em;
  margin: 1em 0;
}

.todo::before {
  content: "TO DO: ";
  font-weight: bold;
  color: #4285f4;
}

.flushright {
  text-align: right;
}

blockquote > p:last-child {
  text-align: right;
}
blockquote > p:first-child {
  text-align: inherit;
}




.header-section-number {
  padding-right: .2em;
  font-weight: 500;
}
.level1 .header-section-number {
  display: inline-block;
  border-bottom: 3px solid;
}
.level1 h1 {
  border-bottom: 1px solid;
}


h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}
.title {
  font-weight: 700;
}
.smallcaps {
  font-variant: small-caps;
}
.book .book-body .page-wrapper .page-inner section.normal strong {
  font-weight: 600;
}